<!doctype html>
<html>
<head>
    <title>tumbo | ascii chat</title>
    <meta name="content" content="tumbo - ascii video chat webapp" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-79662003-1', 'auto');
            ga('send', 'pageview');
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/app.css" />
</head>
<body>
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2>tumbo ascii chat</h2>
                <div class="btn-group">
                    <button id="play-webrtc" class="btn btn-sm btn-success">
                        Start Render
                    </button>
                    <button id="pause-webrtc" class="btn btn-sm btn-danger">
                        Pause Render
                    </button>
                </div>
                <div class="">
                    <video id="jscii-element-webrtc" controls autoplay style="display: none;">
                        Your browser does not support video
                    </video>
                    <div id="video-windows">
                        <pre id="ascii-container-webrtc" style="display: none;"></pre>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="chat-container">
                    <h4 id="current-user"></h4>
                    <ul id="chat-thread" class="list-unstyled">
                    </ul>

                    <form action="" class="" id="chat-form">
                        <div class="input-group chat-form-container">
                            <textarea class="form-control" id="chat-message"></textarea>
                            <div class="input-group-addon">
                                <span id="chat-submit">send</span>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="/assets/jsascii.js"></script>
    <script src="/assets/lz-string.js"></script>
    <script src="/assets/moment-with-locales.js"></script>
    <script src="/assets/app.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            tumbo.init();
        });
    </script>
</body>
</html>
